
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Bitter");
@import url("https://fonts.googleapis.com/css2?family=Sawarabi+Gothic");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand");
@import url("https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&display=swap");



#kermit {
  float:left;
  width: 45%;
}

#big-bird {
  float:right;
  width: 50%;
  margin-left: 30px;
}

#index-intro {
  line-height: 1;
}

#core-intro {
  height: 225px;
}

#reflect{
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px rgb(198, 105, 7), 0 0 1em rgb(195, 92, 37), 0 0 0.2em rgb(219, 21, 14);
}

.center {
  
  text-align: center;
  margin: auto;
}

.block {

  background-color: #009b39;
  border: 10px solid #fad304;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  width: 600px;
  margin: 40px auto ;

}

.picture {
  width: 40%;
  box-shadow: 5px 5px 20px rgb(25, 25, 25);
  
}

.list {
  list-style-type: square ;
  text-align: left;
  font-size: 20px;;
  padding-left: 20%;
}

.list a {
  color: #1be2dc

}

.navbar {
  background-color: #fad304;
  border-bottom: solid #00511e ;
  font-size: large;
  
}

.navbar a {

  color: rgb(129, 6, 6);
  text-align: center;
  padding: 0px 40px 0px;
  text-decoration: none;
  font-weight:bold;
  font-family: 'Delius Unicase'

}


.navbar a:hover {
  background-color:#009b39;
  color: black;
  
}

/* Active/current link */
/* .navbar a.active {
  background-color: #666;
  color: white;
} */

body {
  font-family:"Sawarabi Gothic", sans-serif;
  color:aliceblue
  /* background-image: url("../images/moss.jpeg"); */
}

p {
  text-align: center;
  
  
}

h1 {
  color:rgb(255, 255, 255);
  font-family:"Shrikhand", sans-serif;
  font-weight: 100;
  text-transform: uppercase;

}

h2 {
  text-transform: uppercase;

}

