

#list-of-posts {
  width: 80%;
  background: #009b39;
  padding: 20px 20px;
}

.center {
  
  text-align: center;
  margin: auto;
}

.block {

  background-color: #009b39;
  border: 10px solid #fad304;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  width: 500px;
  margin: 40px auto ;

}

.picture {
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  box-shadow: 5px 5px 20px rgb(25, 25, 25);
}

.list {
  list-style-type: circle;
  text-align: left;
  font-size: 16px;
  color: #00511e;
  line-height: 24px;
}

.navbar {
  background-color: #fad304;
  border-bottom: solid #00511e ;
  
}

/* Style the navigation bar links */
.navbar a {

  color: rgb(129, 6, 6);
  font-family: "Kalam";
  text-align: center;
  padding: 0px 50px 0px;
  text-decoration: none;
  font-weight:bold;
  font-family: 'Delius Unicase'

}


.navbar a:hover {
  background-color:#009b39;
  color: black;
  
}

/* Active/current link */
/* .navbar a.active {
  background-color: #666;
  color: white;
} */

body {
  font-family:"Sawarabi Gothic", sans-serif;
  /* background-image: url("../images/moss.jpeg"); */
}

p {
  text-align: center;
  
}

h1 {
  color:rgb(255, 255, 255);
  font-family:"Shrikhand", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  /* background-color: #009b39;
  border: 10px solid #fad304;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  width: 500px;
  margin: auto; */


}

