
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Bitter");
@import url("https://fonts.googleapis.com/css2?family=Sawarabi+Gothic");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand");
@import url("https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&display=swap");


* {
  box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 10px;
  /* border: 1px solid red; */
}

.row::after {
  content: "";
  clear: both;
  display: table;
}


/* #kermit {
  float:left;
  width: 45%;
} */

/* #big-bird {
  width: 100%; */
  /* float:right;
  margin-left: 30px; */
/* } */

/* #bunsen {
  float:left;
  width: 45%
} */

/* #index-intro {
  line-height: 1;
} */

/* #core-intro {
  height: 225px;
} */

/* #tech-intro {
  height: 200px; */
/* } */

#reflect{
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px rgb(198, 105, 7), 0 0 1em rgb(195, 92, 37), 0 0 0.2em rgb(219, 21, 14);
}

.emphasised{
  font-style: italic;
}

.center {
  
  text-align: center;
  margin: auto;
}

.block {

  background-color: #009b39;
  border: 10px solid #fad304;
  border-radius: 20px;
  text-align: center;
  max-width: 1000px;
  margin: 20px auto ;

}

.picture {
  width: 100%;
  box-shadow: 5px 5px 20px rgb(25, 25, 25);
  /* margin: 5%; */
  
}

.list {
  list-style-type: square ;
  text-align: left;
  font-size: 20px;;
  padding-left: 13%;
}

.list a {
  color: #1be2dc

}

.navbar {
  background-color: #fad304;
  border-bottom: solid #00511e ;
  font-size: large;
  
}

.navbar a {

  color: rgb(129, 6, 6);
  text-align: center;
  padding: 0px 4% 0px;
  text-decoration: none;
  font-weight:bold;
  font-family: 'Delius Unicase'

}


.navbar a:hover {
  background-color:#009b39;
  color: black;
  
}

.blog-text {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  
}

/* Active/current link */
/* .navbar a.active {
  background-color: #666;
  color: white;
} */

body {
  font-family:"Sawarabi Gothic", sans-serif;
  color:aliceblue
  /* background-image: url("../images/moss.jpeg"); */
}

a {
  color:#00511e;
}

p {
  
  
  
}

li {
  text-align: left;
  padding: 1%
}

h1 {
  color:rgb(255, 255, 255);
  font-family:"Shrikhand", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 2.5rem;

}

h2 {
  text-transform: uppercase;
}

h3{
  text-transform: uppercase;
  margin: 20px;
}

h3 span {
  padding: 5px;
  background-color: rgba(0, 82, 30, 0.5);
  border-radius: 10px;
}

h4 {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  font-style: italic;
  background-color: rgba(0, 82, 30, 0.5);
  border-radius: 10px;
  padding: 5px;
  
}

/* Mobile, smallest view */
@media (max-width: 43rem){
  body {
    /* background-color: pink; */
    font-size: smaller;
  }
}

/* Tablet, mid-small view */
@media (min-width: 43rem){
  body {
    /* background-color: yellow; */
  }
}

/* Desktop view */
@media (min-width: 62rem){
  body {
    /* background-color: red; */
    font-size: large;
  }
}

/* X-wide desktop view */
@media (min-width: 82rem){
  body {
    /* background-color: blue; */
    font-size: larger;
  }
}

